<%- include ('header',{title: 'Hamburger létrehozás/módosítás'}) %>
<h1>Hamburger
  <% if (typeof burger == 'undefined') { %> létrehozás<%} else{%>módosítás<%} %></h1>
<form method="POST">
  <div class="form-group">
    <label for="nev">Név</label>
    <input type="text" class="form-control" id="nev" name="nev" value=" <%= (typeof burger == 'undefined') ? "" : burger.nev %>" />
  </div>
  <div class="form-group">
    <label for="pogacsak">Húspogácsák száma</label>
    <select class="custom-select mr-sm-2" id="pogacsak" name="pogacsak">
      <option value="1" <%= (typeof burger == 'undefined') ? "" : (burger.pogacsak == "1" ? 'selected' : '') %>>1</option>
      <option value="2" <%= (typeof burger == 'undefined') ? "" : (burger.pogacsak == "2" ? 'selected' : '') %>>2</option>
      <option value="3" <%= (typeof burger == 'undefined') ? "" : (burger.pogacsak == "3" ? 'selected' : '') %>>3</option>
    </select>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="csipos" name="csipos" <%= (typeof burger == 'undefined') ? "" : ((burger.csipos) ? "checked" : "") %>>
    <label class="form-check-label" for="csipos">
      Csípős?
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="szosz" name="szosz" <%= (typeof burger == 'undefined') ? "" : ((burger.szosz) ? "checked" : "") %>>
    <label class="form-check-label" for="szosz">
      Szósz?
    </label>
  </div>
  <div class="form-group">
    <label for="extra">Különleges összetevő</label>
    <input type="text" class="form-control" id="extra" name="extra" value=" <%= (typeof burger == 'undefined') ? "" : burger.extra %>" />
  </div>
  <input type="submit" class="btn btn-primary" value="Mentés és vissza" />
  <a class="btn btn-secondary" href="/burger">Vissza</a>
  </form>
<%- include ('footer') %>