<%- include ('listheader',{title: 'Vendégek', newname: 'guest'}) -%>
<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Név</th>
        <th>Érkezés</th>
        <th>Hamburger</th>
      </tr>
    </thead>
    <tbody>
      <% guests.forEach(function(guest){ %>
      <tr>
        <td>
          <%= guest.nev %>
        </td>
        <td>
          <%= guest.erkezes %>
        </td>
        <td>
          <%= guest._assignedto ? guest._assignedto.nev : 'Nem kér' %>
        </td>
        <td style="border: none; background-color: rgba(0, 0, 0, 0);width:30px;white-space: nowrap">
          <a href="/guest/edit/<%= guest._id %>" class="btn btn-sm btn-primary"><i class="far fa-edit"></i>Módosítás</a>
        </td>
        <td style="border: none; background-color: rgba(0, 0, 0, 0);"><a href="/guest/del/<%= guest._id %>" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i>Törlés</a></td>
        </tr>
      <% }); %>
      </tbody>
  </table>
  <h5>
    Elkészítendő bucik száma: <%=bucicnt%> <br />
    Elkészítendő húspogácsák száma: <%=pogicnt%>
  </h5>
  </div>
<%- include ('footer') %>